@page "/"
@using Random_Recipe_Finder_MAUI_APP.Services
@inject IShakeService ShakeService
@inject NavigationManager navigationManager

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    bool isShaking = false;

    protected override void OnInitialized()
    {
        ShakeService.SubscribeToShakeEvent(ShakeDetected);
        ShakeService.StartShakeService();
    }

    public void ShakeDetected(object sender, EventArgs e)
    {
        navigationManager.NavigateTo("/randomrecipeview");
    }
    
}