@page "/"
@using Random_Recipe_Finder_MAUI_APP.Services
@inject IShakeService ShakeService

<h1>Hello, world!</h1>

Welcome to your new app.

@if (isShaking)
{
    <p>Is Shaking</p>
}


@code {

    bool isShaking = false;

    protected override void OnInitialized()
    {
        ShakeService.SubscribeToShakeEvent(ShakeDetected);
        ShakeService.StartShakeService();
    }

    public void ShakeDetected(object sender, EventArgs e)
    {
        isShaking = !isShaking;
        StateHasChanged();
    }
    
}